.App {
  background-color: #18181b;
  background-color: #0B2B26;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Helvetica Neue', sans-serif;
  color: #DAF1DE;
}

/* LOADING SCREEN SPINNER */

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20vh auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* SIGN IN PAGE */

.sign-in-tagline {
  position: absolute;
  top: 10px;
  color: #DAF1DE;
  font-size: 1em;
}

.sign-in-welcome {
  position: absolute;
  top: 30%;
  font-size: 24px;
  color: #DAF1DE;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  font-style: italic;

}

.sign-in-logo {
  position: absolute;
  top: 34%;
  color: #DAF1DE;
  font-size: 80px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.sign-in-logo:hover {
  color: #DAF1DE;
  font-size: 100px;
  padding: 0;
  margin: 0;
}

.sign-in-button {
  position: absolute;
  bottom: 100px;
  background-color: transparent;
  outline: black;
  border: 1px solid white;
  border-radius: 12px;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 12px;
  font-size: 1em;
  color: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sign-in-button:hover {
  background-color: #DAF1DE;
  font-size: 1.2em;
  color: #051F20;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* NAVIGATION BAR */

.nav-bar {
  background: rgba(255, 255, 255, 0.1);  /* Semi-transparent white */
  backdrop-filter: blur(10px);            /* Blur effect */
  -webkit-backdrop-filter: blur(10px);    /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.18);  /* Subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Light shadow */

  width: 92%;
  height: 10%;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;

  margin-bottom: 16px;
}

.nav-bar-button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-button:hover {
  .nav-icon {
    font-size: 2.2rem;
  }
}

.nav-icon {
  display: flex;
  width: 25px;
  height: 25px;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.fa-user {
  color: #DAF1DE;
}

.fa-bookmark {
  color: #DAF1DE;
}

.fa-check-circle {
  color: #DAF1DE;
}

/* DEFAULT CONTAINERS */

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
}

.page-header-text {
  color: #DAF1DE;
  text-align: left;
  align-items: flex-start;
  font-size: 2.5em;
  padding-right: 100px;
  margin-top: 24px;
  margin-bottom: 0px;

  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
}

.streak-widget-container {
  display: flex;
  width: 100%;
  font-style: italic;
  font-size: 24px;
}

.page-header-streak {
  line-height: 1em;
  margin-top: 12px;
  margin-bottom: 12px;

  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
}

.page-content-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-content-inner::-webkit-scrollbar {
  display: none;
}

/* DAILY CHALLENGE BUTTON */

.play-icon {
  font-size: 4em;
}

.fa-pagelines {
  color: #051F20;
}

.daily-meno-button {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: transparent;
  background-color: #DAF1DE;
  border: 4px solid white;
  outline: none;
  color: #051F20;
  font-size: 32px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.18);  /* Subtle border */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);  /* Light shadow */
}

.daily-meno-button:hover {
  width: 275px;
  height: 275px;
  border: 1px solid rgba(255, 255, 255, 0.18);  /* Subtle border */
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.7);  /* Light shadow */
}

.tap-to-start {
  font-size: 24px;
}

.icon {
  display: flex;
  width: 25px;
  height: 25px;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}


.scripture-select-container {
  background-color: #18181b;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 3;
}

.scripture-select-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
}

.scripture-select-header-text {
  padding-left: 15px;

  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
}

.completed-scripture {
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

/* SCRIPTURES LIST */

.scripture-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 28px;
  color: white;
}

.add-scripture-button {
  background-color: transparent;
  outline: black;
  border: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 12px;
  font-size: 28px;
  color: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 1;
}

.add-scripture-button:hover {
  font-size: 32px;
  background: rgba(255, 255, 255, 0.1);  /* Semi-transparent white */
  backdrop-filter: blur(10px);            /* Blur effect */
  -webkit-backdrop-filter: blur(10px);    /* For Safari support */
}

.scripture-button {
  background-color: transparent;
  width: 100%;
  outline: black;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 12px;
  margin: 0;
  font-size: 28px;
  color: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.scripture-button:hover {
  font-size: 32px;
  background: rgba(255, 255, 255, 0.1);  /* Semi-transparent white */
  backdrop-filter: blur(10px);            /* Blur effect */
  -webkit-backdrop-filter: blur(10px);    /* For Safari support */
}



/* ------------------------- */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  padding: 0;
}

/* ACCOUNT PAGE */

.stats-container {
  width: 90%;
  max-width: 500px;
  height: 45%;
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats-container-inner {
  height: 40%;
  background-color: #DAF1DE;
  border: 1px solid rgba(255, 255, 255, 0.18);  /* Subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Light shadow */
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  padding-left: 24px;
  padding-right: 24px;
}

.stats-container-inner:hover {
  height: 50%;
}

.stats-text {
  width: 50%;
  color: #051F20;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: left;

  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
}

.stats-number {
  color: #051F20;
  padding: 12px;
  font-size: 100px;
  text-align: right;
  padding: 0px;
  justify-content: center;
  align-items: center;

  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;  /* For Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
}

.sign-out-button {
  position: absolute;
  bottom: 150px;
  background-color: transparent;
  outline: black;
  border: 1px solid white;
  border-radius: 12px;
  width: 70%;
  max-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 12px;
  font-size: 1em;
  color: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sign-out-button:hover {
  background-color: #DAF1DE;
  font-size: 1.2em;
  color: #051F20;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.not-signed-in-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-icon {
  display: flex;
  width: 25px;
  height: 25px;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}


/* .content {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(10px); 
  padding: 20px;
  border: 0.1px solid rgba(140, 140, 140, 0.7);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 600px;
} */

.circular-button {
  width: 200px;          /* Width of the button */
  height: 200px;         /* Height of the button */
  border-radius: 50%;   /* Makes the button circular */
  color: white;         /* White text color */
  font-size: 16px;      /* Font size */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;         /* Remove border */
  cursor: pointer;     /* Change cursor to pointer */
  transition: background-color 0.3s ease;  /* Smooth transition on hover */

  background: rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(10px); 
  padding: 20px;
  border: 0.1px solid rgba(140, 140, 140, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.circular-button:hover {
  background-color: rgb(0, 0, 0);
}

.scripture-header {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;

}

.scripture-reference {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.record-button {
  background-color: rgb(27, 26, 26);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transcription {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.transcription h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .glowing-sphere {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  background: radial-gradient(circle, #f3c100, #f1a800);
  box-shadow: 0 0 20px rgba(243, 193, 0, 0.6), 0 0 40px rgba(241, 168, 0, 0.6);
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  animation: glow 2s infinite alternate, pulse 2s infinite ease-in-out; 
  transition: transform 0.3s ease;
}

.glowing-sphere:hover {
  transform: scale(1.1);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(243, 193, 0, 0.6), 0 0 40px rgba(241, 168, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 30px rgba(243, 193, 0, 1), 0 0 60px rgba(241, 168, 0, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

.screen-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.transition-active {
  opacity: 1;
  pointer-events: all;
}

.meno-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meno-action-button-container {
  position: absolute;
  width: 80%;
  height: 10%;
  bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meno-action-button {
  background-color: transparent;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meno-action-button .fa-microphone {
  color: white;
  transition: 0.3s;
}

.meno-action-button:hover {
  background-color: white;
  color: #18181b;

  .fa-microphone {
    color: black;
    font-size: 2rem;
  }

  .fa-stop {
    color: black;
    font-size: 2rem;
  }

  .fa-arrow-right {
    color: black;
    font-size: 2rem;
  }
  
  .fa-rotate-left {
    color: black;
    font-size: 2rem;
  }

}

.fa-x {
  font-size: 1rem;
}

.fa-stop {
  color: white;
  transition: 0.3s;
}

.fa-arrow-right {
  color: white;
  transition: 0.3s;
}

.fa-rotate-left {
  color: white;
  transition: 0.3s;
}

.scripture-transcription {
  color: white;
  font-size: 24px;
  padding: 30px;
}

.accuracy-score {
  position: absolute;
  top: 40px;
  color: white;
}

/* VERSE VIEWER */

.verse-viewer-overlay {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  z-index: 2;
}

.verse-viewer-container {
  background-color: #18181b;
  height: 72%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 3;
  border-radius: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.verse-viewer-container::-webkit-scrollbar {
  display: none;
}

.verse-reference {
  margin: 0;
  color: #DAF1DE;
  padding-top: 24px;
  font-size: 24px;
}

.verse-text {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em;
  color: white;
}

.verse-handle-bar {
  border: 2px solid rgb(96, 96, 96);
  width: 20%;
  z-index: 4;
}